/* ---------------- reset ---------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------- nav ---------------- */
nav {
    background-color: #5c0100;
    height: 8vh;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style: none;
}

nav li {
    flex: 1;
    text-align: center;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 2.5vh;
    font-weight: bold;
    transition: 0.3s ease;
}

nav ul li a:hover {
    color: #ffeeb7;
}

/* ---------------- parallax principal ---------------- */
.parallax {
    height: 92vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffeeb7;
}

.parallax img {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#coffe1 {
    width: 20%;
}


/* ---------------- titulo ---------------- */
.titulo {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    font-size: 8vh;
    z-index: 100;
    color: #5c0100;
    text-shadow: 4px 4px 0px rgba(255, 255, 255, 0.9);
}

/* ---------------- main ---------------- */
main {
    background-color: #5c0100;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    gap: 2rem;
}

/* ---------------- h2 general ---------------- */
main h2 {
    grid-column: 1 / -1;
    /* ocupa las 2 columnas */
    text-align: center;
    color: #5c0100;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 8px;
}