*{
  align-items: center;
  margin: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  background:#F3E8DF
}

header{
  background-color: #E8D1C5;
  color: #452829;
  align-items: center;
  padding-bottom: 10px;
}

#titulo{
  display: flex;
  align-items: center;
}

#logo{
  align-items: center;
}

main{
  background-color: #AF8260;
  margin: 0;
}

#menu{
  display: flex;
  background-color: #E4C59E;
  padding: 20px;
}

#video{
  display: flex;
  padding: 20px;
}

#lugar{
  display: flex;
  background-color: #E4C59E;
  padding: 20px;
}

footer{
  background-color: #803D3B;
  color: aliceblue;
  align-items: center;
}